@import "../variables";
@import "../text-styles";


.footer-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;

  footer {
    width: 100%;
    min-height: $footer-min-height;
    border-top: $border-width-line solid $color-separator;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: $footer-margin-top;

    .container {
      width: 100%;

      .fdp-name {
        @include text-style-primary-32-bold;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: $header-logo-width + $header-logo-indent;
        background: url($header-logo-url) center left no-repeat;
        background-size: $header-logo-width $header-logo-height;
      }
    }
  }
}
