@import "../variables";
@import "../mixins";
@import "../text-styles";


header {
  width: 100%;
  height: $header-height;

  .container {
    height: $header-height - $separator-colorful-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fdp-name {
      @include text-style-primary-32-bold;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: $header-logo-width + $header-logo-indent;
      background: url($header-logo-url) left center no-repeat;
      background-size: $header-logo-width $header-logo-height;
    }

    .search-field {
      @include border-radius($border-radius-full);
      background: url($header-search-icon) $header-search-icon-left center no-repeat $color-background-highlighted;
      background-size: $header-search-icon-width $header-search-icon-height;
      width: $header-search-width;
      height: $header-search-height;

      @media (max-width: $breakpoint-small - 1px) {
        display: none;
      }

      input {
        @include text-style-default-16;
        border: none;
        width: 100%;
        padding: 0 $header-search-input-padding-right 0 $header-search-input-padding-left;
        height: 100%;
        outline: none;
        background: none;

        &::placeholder {
          @include text-style-light-16;
        }
      }
    }
  }
}
