@import "../variables";
@import "../mixins";
@import "../text-styles";


.metadata {
  @media (min-width: $breakpoint-small) {
    width: 32%;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  .metadata-item {
    float: left;
    width: 100%;
    padding: $space-md 0;
    border-bottom: $border-width-line solid $color-separator;

    &:last-child {
      border-bottom: none;
    }

    &-sm {
      width: 50%;
    }

    &-list {
      ul {
        margin: 0;
        padding-left: 1.25rem;

        li {
          @include text-style-dark-18-semibold;
          word-break: break-word;
          margin-top: $space-sm;
        }
      }
    }

    h3 {
      @include text-style-lighter-16-semibold;
      margin: 0;
    }

    a {
      @include text-style-dark-18-semibold;
      @include transition-default(color);

      &:hover {
        color: $color-primary;
      }
    }

    p {
      @include text-style-dark-18-semibold;
      margin: 0;
      word-break: break-word;

      &.download-links {
        a {
          margin-right: $space-md;
        }
      }
    }
  }
}
