<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="all"/>
    <title>
        {{#if metadata.title}}
            {{literal metadata.title}}
        {{/if}}
    </title>
    {{#if jsonLd}}
        <script type="application/ld+json">
            {{{jsonLd}}}


        </script>
    {{/if}}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <div class="container">
        <div class="fdp-name">FAIR Data Point</div>
        <div class="search-field">
            <input type="text" placeholder="Search FAIR Data Point...">
        </div>
    </div>
    <div class="separator separator-colorful"></div>
</header>
{{#unless ignoreBreadcrumbs}}
    <div class="breadcrumbs">
        <div class="container">
            {{#> breadcrumbs}}{{/breadcrumbs}}
        </div>
    </div>
{{/unless}}
<div class="body">
    <div class="container">

        {{#if metadata.title}}
            <h1>{{literal metadata.title}}</h1>
        {{/if}}

        <div class="content-wrapper">
            <div class="metadata">
                {{#> metadata}}{{/metadata}}
            </div>
            <div class="content">
                {{#if metadata.description}}
                    <p class="description">{{literal metadata.description}}</p>
                {{/if}}
                {{#> content}}{{/content}}
            </div>
        </div>
    </div>
</div>
<div class="footer-wrapper">
    <footer>
        <div class="container">
            Footer
        </div>
        <div class="separator separator-colorful"></div>
    </footer>
</div>
</body>
</html>