@import "variables";
@import "mixins";
@import "text-styles";


.separator {
  width: 100%;

  &-colorful {
    height: $separator-colorful-height;
    @include linear-gradient(90deg, $color-primary, $color-complementary);
  }
}


.btn {
  @include text-style-light-18-bold;
  @include transition-default(background);
  padding: .75rem 1rem;
  text-decoration: none;
  font-weight: bold;
  background: $color-primary;

  &:hover {
    background: $color-primary-lighter;
  }

  &-with-icon {
    @include border-radius($border-radius-full);
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-around;
    padding: $space-sm $space-lg;


    img {
      max-width: $space-md;
      max-height: $space-md;
      margin-right: $space-sm;
    }
  }
}


.distribution-links {
  margin-top: $space-lg;

  .btn {
    margin-right: $space-md;
  }
}
