// Colors
$color-primary: #00518E !default;
$color-primary-lighter: lighten($color-primary, 10%) !default;
$color-light: #FFFFFF !default;
$color-complementary: #EFC700 !default;
$color-text-default: #4A4A4A !default;
$color-text-lighter: #9B9B9B !default;
$color-text-light: #ABABAB !default;
$color-text-dark: #000000 !default;
$color-background: #FFFFFF !default;
$color-background-highlighted: #F1F1F1 !default;
$color-background-primary: #BFD4E3 !default;
$color-separator: #DCDCDC !default;


// Fonts
$font-family: 'Open Sans', sans-serif !default;
$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;


// Spacing
$space-xs: .25rem !default;
$space-sm: .75rem !default;
$space-md: 1rem !default;
$space-lg: 2.25rem !default;


// Borders
$border-radius-default: .625rem !default;
$border-radius-full: 10rem !default;
$border-width-line: 1px !default;


// Responsive breakpoints
$breakpoint-small: 960px !default;


// Container
$container-max-width: 1200px !default;
$container-padding: $space-md;


// Header
$header-height: 100px !default;
$header-logo-url: '/images/gofair-logo.png' !default;
$header-logo-width: 150px !default;
$header-logo-height: 42px !default;
$header-logo-indent: 25px !default;
$header-search-width: 300px !default;
$header-search-height: 40px !default;
$header-search-icon: '/images/icons/search.png' !default;
$header-search-icon-left: 12px !default;
$header-search-icon-width: 21px !default;
$header-search-icon-height: 21px !default;
$header-search-input-padding-left: 40px !default;
$header-search-input-padding-right: 20px !default;


// Breadcrumbs
$breadcrumbs-height: 55px !default;


// Footer
$footer-min-height: 150px !default;
$footer-margin-top: 3rem !default;


// Separator
$separator-colorful-height: 10px !default;
