config.stopBubbling = true

# Ensure @Qualifier and @Value annotations are copied to lombok-generated constructor arguments.
# Note that the default set of copyable annotations can be found here:
# https://github.com/projectlombok/lombok/blob/master/src/core/lombok/core/handlers/HandlerUtil.java
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
