<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<Configuration status="WARN">
    <Properties>
        <Property name="log-path">/opt/fdp-java/log/</Property>  <!--use ${env:VAR_NAME} for env variables --> 
    </Properties>
     <!-- Define custom levels before using them for filtering below. -->
    <CustomLevels>
        <CustomLevel name="API-REQUEST" intLevel="350" />
    </CustomLevels>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <RollingFile name="trace-log" fileName="${log-path}/fdp-api-trace.log"
                     filePattern="${log-path}/fdp-api-trace-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="error-log" fileName="${log-path}/fdp-api-error.log"
                     filePattern="${log-path}/fdp-api-error-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="api-request-log" fileName="${log-path}/fdp-api-request.log"
                     filePattern="${log-path}/fdp-api-request-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%X{ipAddress} - - %d{[dd/MM/yyyy:HH:mm:ss -SSSS]} \"%X{requestMethod} %X{requestURI} %X{requestProtocol}\" %X{responseStatus} %X{contentSize}%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="nl.dtls.fairdatapoint.api" level="debug" additivity="false">
            <appender-ref ref="trace-log" level="info"/>
            <appender-ref ref="error-log" level="error"/>
            <appender-ref ref="console-log" level="info"/>
            <appender-ref ref="api-request-log" level="API-REQUEST"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="console-log"/>
        </Root>
    </Loggers>
</Configuration>

