{{#if metadata.uri}}
    <div class="metadata-item">
        <h3>Download RDF</h3>
        <p class="download-links">
            <a target="_blank" href="{{metadata.uri}}.ttl">ttl</a>
            <a target="_blank" href="{{metadata.uri}}.rdf">rdf+xml</a>
            <a target="_blank" href="{{metadata.uri}}.jsonld">jsonld</a>
        </p>
    </div>
{{/if}}
